.button {
    min-width: 100px;
    padding: 10px;
    border-radius: var(--border-radius-small);
    font-size: 14px;
    font-family: var(--font-family-main);
    font-weight: var(--font-bold);
    background: none;
    outline: none;
    transition: var(--transition);
    cursor: pointer;
    color: red
}

.button:disabled,
.button:disabled:hover {
    color: var(--color-gray);
    border-color: var(--color-gray);
    background-color: transparent;
    cursor: auto;

}

.dark {
    border: 1px solid var(--color-white);
    color: var(--color-white);
}

.dark:hover {
    color: var(--color-black);
    background-color: var(--color-white);
}

.light {
    border: 1px solid var(--color-black);
    color: var(--color-black);
    background-color: var(--color-white)
}

.light:hover {
    color: var(--color-white);
    background-color: var(--color-black);
}
.neutral {
    border: 1px solid var(--color-black);
    color: var(--color-white);
    background-color: var(--color-black);
}

.neutral:hover {
    color: var(--color-black);
    background-color: var(--color-white);
}