:root {
    --color-white: #fff;
    --color-black: #000;
    --color-dark-gray: #10100e;
    --color-blue: #6a83fb;
    --color-yellow: #ffff00;
    --color-purple: #ae72c2;
    --color-green: #FF5C8D;

    --transition: .4s;

    --spacing-ultrasmall: 5px;
    --spacing-small: 10px;
    --spacing-medium: 20px;
    --spacing-large: 30px;

    --margin-list: 7px;
    --width-max: 1220px;

    --border-radius-small: 3px;
    --border-radius-medium: 5px;

    --font-family-main: sans-serif;
    --font-bold: 600;
    --font-size-main: 16px;
    --font-size-subheader: 18px;
    --font-size-header: 26px;

    --text-shadow-yellow: 0 0 2px var(--color-yellow),
    0 0 40px var(--color-blue);
    --text-shadpw-blue:
    0 0 2px var(--color-white),
    0 0 40px var(--color-blue);

    --box-shadow-white:
            0 16px 24px 2px  rgba(255,255,255,0.02),
            0 6px 30px 5px  rgba(255,255,255,0.04),
            0 8px 10px -5px  rgba(255,255,255,0.1);
    --box-shadow-black:
            0 16px 24px 2px  rgba(0,0,0,0.5),
            0 6px 30px 5px  rgba(0,0,0,0.1),
            0 8px 10px -5px  rgba(0,0,0,0.2);


    --theme-default-header: #cccc46;
    --theme-default-background:  url("./static/images/bg.jpg")

}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: var(--font-family-main);
    font-size: var(--font-size-main);
    background-image: var(--theme-default-background);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
}

.header__text {
    line-height: 1.7;
    font-size: var(--font-size-header);
    text-shadow: 0 0 2x var(--color-black);
    color: var(--theme-default-header);
    transition: color var(--transition)
}
img {
    display: block;
}
